.app-header {
  height: 60px;
  background-color: #F7F7FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #ddd;
}

.header-left h3 {
  color: #28417B;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #28417B;
  font-weight: 500;
}

.username {
  font-size: 14px;
}

/* Role Badge */
.role-badge {
  background-color: #28417B;
  color: #F7F7FF;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

/* Logout Button */
.logout-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  background-color: #E7210B;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.logout-btn:hover {
  opacity: 0.9;
}
